.appCard {
    background-color: plum;
}

.card-tile:hover .slds-card {
    border: 1px solid #000000;
    background-color: purple;
}

.card-tile .slds-card {
    border: 1px solid #000000;
    background-color: plum;
    transition: border 0.5s, background-color 0.5s;
}

.card-tile .slds-card__header {
    padding: .5rem 1rem;
    border-bottom: 2px solid #000000;
    border-radius: 4px 4px 0 0;
    background-color: #ef93ff78;
    color: #2d5319;
}

.card-tile-button {
    fill: #89d300;
}